<div id="<%= dom_id(post) %>" class="flex pb-6 border-b group">
	<div class="mr-6 pt-4">
		<%= image_tag avatar_url_for(post.user), class: "rounded-full", height: 40, width: 40 %>
	</div>

	<div class="flex-1">
		<div class="mb-3 mt-4">
			<span class="font-semibold"><%= post.user.name %></span>
			<span class="text-gray-600">-</span> <%= link_to local_time_ago(post.created_at), discussion_path(@discussion, anchor: post.id), class: "mt-1 ml-1 hover:underline text-gray-700" %>
			<% if user_signed_in? && current_user == post.user %>
				<span class="text-gray-600">
					<%= link_to '編輯', edit_discussion_post_path(@discussion, post), class: "ml-1 hover:underline text-gray-700" %>
				</span>
			<% end %>
		</div>
		<div>
			<%= post.body %>
		</div>
	</div>
</div>